on_mount_cmd=
mount_command=mount %m
umount_command=umount %m
excluded_filesystems=/boot/efi /tmp/* /run/* /root/.* */.* /mnt/*
icon=/usr/share/icons/hicolor/scalable/apps/org.gnome.DiskUtility-symbolic.svg
show_message_dialog=false
include_networked_filesystems=false
trim_devicenames=true
td_count=14
exclude_selected_filesystems=true
exclude_devicenames_in_menu=true
eject_cddrives=false

