[General]
Show_Labels=false
Exec_Command=false
Lines_Size=1
Preferred_Height=440
Number_Chips=5
Tachos_ColorValue=0.79569894075393677
Tachos_Alpha=0.801075279712677

[Chip0]
Name=coretemp-1
Number=0

[Chip1]
Name=dell_smm-0
Number=1

[Chip2]
Name=coretemp-0
Number=2

[Chip3]
Name=ACPI
Number=3

[Chip4]
Name=nvidia
Number=4

[Chip4_Feature0]
Address=0
Name=NVIDIA GeForce GTX 1060 6GB
Color=#00bbf0
Show=true
Min=20
Max=80

